@page "/"

<PageTitle>Inti's Azure OpenAI SDK Test App</PageTitle>

<h1 style="text-align:center;color:blue;font-family:'Comic Sans MS';font-weight:bold">
    Welcome to Inti's Azure OpenAI SDK Test App
</h1>
<br />
<hr />
<br />
<div style="text-align:center;">
    <img style="margin:50px;" src="https://4.bp.blogspot.com/-0-ypxfmJLq8/WlzHPs9iihI/AAAAAAAAZKU/7SACNQrJjh8GeNfilKahc--mB3q7bgzKgCLcBGAs/s1600/OpenAI_Logo.png" width="250" height="250" />
    <img style="margin:50px;" src="https://allconnected.com/wp-content/uploads/2020/12/microsoft-logo-transparent-png-8.png" width="250" height="250" />
    <img style="margin:50px;" src="https://1.bp.blogspot.com/-A2clf7F-hbo/Xp_UiGQOXPI/AAAAAAAARWk/qMyc_KIsdA4FjvIoR2lK4nQcb2nbw6ZJgCLcBGAsYHQ/s1600/NET_Core_Logo.svg.png" width="250" height="250" />

</div>
